.main-container{
    text-align: center;
    width:1500px;
    max-width: 100%;
    height:650px;
    background-size: 100%;
    background-image: url(landing-page-slide-3.jpg);
}
body, *{
    margin: 0px;
    padding:0px;
}
#list{
    list-style-type: lower-roman;
    color: white;
    
    padding: 20px;
    
    line-height: 30px;
    
    
}
.btn{        padding: 4px;
    margin-left: 5px;
    width: 64px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: lightsteelblue;

}
.btn:hover{
    background-color: lightblue;
}
h1{
   
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color:white;
padding-top:90px;
}

input{
    width: 237px;
    height: 24px;
    background-color: rgb(236, 221, 236)e;
    border: 2px solid black;
    padding: 4px;
    border-radius: 6px;
}
#button{
    width: 96px;
    height: 30px;
    border: 1px solid black;
    background-color: lightsteelblue;
    border-radius: 6px;
    margin-left: 1px;
}
#button:hover{
    background-color: lightblue;
}
.todo-form{
    padding-top: 23px;
}